body > .flexContainer > header {
  height: 19em;
  width: 100%;
  display: flex;
  background-color: #4056A1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.newTweet > .fa-solid {
  color: red;
}

.username {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  color: white;
}