body > header {
  height: 490px;
  width: 100%;
  display: flex;
  background-color: #d4cac9;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.newTweet > .fa-solid {
  color: red;
}
