.nav-bar {
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 1.5em; */

}

.logo {
  font-family: 'Bungee', cursive, sans-serif;
  margin: 1.5em;
  font-size: 40px;
  /* display: flex;
  justify-content: flex-start; */
}

.newTweet {
  /* align-self: flex-end; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 1.5em;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userPic {
  margin-top: 125px;
}


/*
justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
*/